/* media */
.tablet-view {display:none;}
.mobile-view {display: none;}
@media all and (max-width: 1024px) {
	.pc-view {display: none;}
	.tablet-view {display: block;}
	.con {max-width: 1024px;}
	.title img {height: 1.8rem;}

    /* section-2 */
    #section-2 .section-2_con {height: 70vh;}
    #section-2 .section-2_con .background-img {height: 30vh;}
    #section-2 .section-2_con .background-img img {height: auto;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list ul {margin-top: 0.5rem; flex-wrap:wrap;}
    #section-3 .section-3_con .extraction-list ul li {width:calc(100%/3);text-align: center;height: 20rem;margin: 1rem 0;}
    #section-3 .section-3_con .extraction-list ul:not(.popup-list) li .popup-img >img {height: 20rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .close-btn {width: 5rem;height: 5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div {height: 5px;}
    #section-3 .section-3_con .extraction-list .popup-list .title {font-size: 3.5rem;margin-top: 2.5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li.active {width: 90vw; height: 90vh; left: 5vh; top: 5vh; z-index: 9999 !important;}
    #section-3 .section-3_con .extraction-list .popup-list .title_kor {font-size: 2.5rem;font-weight: bold;text-align: left;}
    #section-3 .section-3_con .extraction-list .popup-list li .con img {margin-bottom: 2.5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size: 1.8rem;font-weight: bold;line-height: 2.5rem;}
}

@media (max-width:1024px) and (max-height:1366px) {
    .title img {height: 2.3rem;}

    /* section-1 */
    #section-1 .main-logo {height: 45%;}

    /* section-2 */
    #section-2 .section-2_con {height: 60vh;}
    #section-2 .section-2_con .text-box .sub-title {font-size:2.5rem;}
    #section-2 .section-2_con .text-box .sub-text {padding:0 2rem;}
    #section-2 .section-2_con .text-box .sub-text p {font-size:1.4rem;}
    #section-2 .background-img { width: auto; height: 40vh; background-size: cover; background-position:50% 0;}
}

@media all and (max-width:780px) {
    .con {max-width: 80%;}
    .title img {height:1.5rem; margin-top:3rem;}

    #header .bars-btn {width: 45px; height: 30px; margin:2.5rem;}
    #header .menu-box-1 ul {margin:6rem;}

    /* section-1 */
    #section-1 .main-logo {top:5rem;}
    #section-1 .section-1_con .main-text-box .title {margin-top:10rem;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list ul li {width:calc(100%/3); text-align: center;}
    #section-3 .section-3_con .extraction-list ul:not(.popup-list) li .popup-img >img {height: 12rem;}
    #section-3 .section-3_con .extraction-list .popup-list li.active {width: 90vw; height: 90vh; left: 5vh; top: 5vh; z-index: 9999 !important;}
    #section-3 .section-3_con .extraction-list .popup-list .title_kor {font-size:2rem; font-weight: bold;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size:1.6rem; line-height: 2.5rem;}
}

@media all and (max-width:720px) {

}

@media all and (max-width:600px) {

}

@media all and (max-width:550px) {

}

@media all and (max-width:500px) {

}

@media all and (max-width:450px) {

}

@media all and (max-width:360px) {

}

@media all and (max-width:320px) {
    
}