/* 공통 */
html, body {word-break:keep-all;}
body {letter-spacing: -0.25px; background-color: #222222;}
.color-976d3f {color:#976d3f;}
.text-box .title {font-size:1.2rem; margin:2rem 0 1rem;}
.con {max-width:1200px;}
.title img {width: auto; height:2.8rem; margin-top:5rem;}
.popup-bg.active {position:fixed; top:0; left:0; width:100vw; height:100vh; background: rgba(0,0,0,0.6); z-index: 99 !important;}

/* scroll */
/* html,body {scroll-behavior: smooth;} */
body::-webkit-scrollbar {width: 0.3rem; height: 0.3rem; transition: width 1s;}
/* body.active::-webkit-scrollbar {width:0.3rem;} */
body::-webkit-scrollbar-thumb {background-color: #976d3f;}
/* body.active::-webkit-scrollbar-thumb{background-color: #976d3f; opacity:1; border-radius:10px;} */
body::-webkit-scrollbar-track {background-color: #222222;}
body {scroll-behavior: smooth;}


/* loding */
#loding {width: 100%; height:100%; position:fixed; background: #000; z-index: 100000 !important;}
.test_text {color:#fff; font-size:3rem; font-weight: bold;}


/* header bars-btn*/
#header {z-index: 9999 !important;}
#header .bars-btn {width:60px;height:40px;z-index: 99 !important;margin: 5rem;}
#header .bars-btn.active {z-index: 9999 !important;}
#header .bars-btn .bar {width: 100%; height: 6px; position:absolute; background-color: #976d3f;}
#header .bars-btn .bar:first-child {top:0; transition: top 0.2s 0.2s, transform 0.2s;}
#header .bars-btn .bar:nth-child(2) {top:50%; transition: opacity 0.2s;}
#header .bars-btn .bar:last-child {top:100%; transition: top 0.2s 0.2s, transform 0.2s;}
#header .bars-btn.active .bar:first-child {top:50%; transform: rotate(45deg); transition: top 0.2s, transform 0.2s 0.2s;}
#header .bars-btn.active .bar:nth-child(2) {top:50%; opacity: 0; transition: opacity 0.4s;}
#header .bars-btn.active .bar:last-child {top:50%; transform: rotate(-45deg); transition: top 0.2s, transform 0.2s 0.2s;}


/* header menu-box-1 */
#header .menu-box-1 {top:0; left:-200%; background-color: #222222; transition: left 0.2s; z-index: 999 !important;}
#header .menu-box-1.active {left:0;}
#header .menu-box-1 ul {margin: 9rem;}
#header .menu-box-1 ul li a {margin:0.7rem; padding:0.3rem;}
#header .menu-box-1 ul li a span {font-size:2.2rem; color:#bbbbbb; position: relative; transition: color 0.3s;}
#header .menu-box-1 ul li a:hover span {color:#976d3f;}
/*font-outline == text-shadow: -1px 0 #976d3f, 0 1px #976d3f, 1px 0 #976d3f, 0 -1px #976d3f; */


/* section-1 */
#section-1 {height:100vh;}
#section-1 .background-img::after{
    content: "";
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/main-back-img-1-1.jpg);
    background-size: cover;
    background-position:0 0;
    background-repeat: no-repeat;
    top:0;
    left:0;
    position: absolute;
    width: 100%; 
    height: 100vh;
    /* opacity: 80%; */
}
#section-1 .section-1_con {width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);}
#section-1 .main-logo {
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/main-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    top: 10rem;
}
#section-1 .section-1_con .main-text-box .title {
    font-size: 2rem;
    margin-top: 17rem;
}
#section-1 .section-1_con .main-text-box .sub-title {
    font-size: 3rem;
    margin-top: 3rem;
}
#section-1 .guide-arrow .btn {height: 80px;}


/* section-2 */
#section-2 {background-color:#222222;}
/* #section-2 .background-img img {width:100%; height: 60vh; opacity: 0.4;} */
#section-2 .background-img {background:url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/reserve-info.jpg)0 0 no-repeat; width:100%; height:60vh; background-size:contain; opacity: 0.4;}
#section-2 .section-2_con {height:50vh;}
#section-2 .section-2_con .text-box {color:#bbbbbb;}
#section-2 .section-2_con .text-box .sub-title {font-size:2rem; margin: 1rem 0 2.5rem;}
#section-2 .section-2_con .text-box .sub-text {margin-bottom: 5rem;}


/* section-3 */
#section-3 {background-color:#222222; height:100vh;}
#section-3 .section-3_con .text-box {color:#bbbbbb;}
#section-3 .section-3_con .text-box .sub-title {font-size:0.9rem;}
#section-3 .section-3_con .extraction-list,
#section-3 .section-3_con .extraction-list ul:not(.popup-list) {height:22rem;}
#section-3 .section-3_con .extraction-list ul {margin-top: 2.5rem;}
#section-3 .section-3_con .extraction-list ul li .popup-img img {transition: all 0.2s;}
#section-3 .section-3_con .extraction-list ul:not(.popup-list) li:hover .popup-img >img {  box-shadow: 0px -1px 2px 5px rgb(0 0 0 / 40%); transform: translate3d(1px, 1px, 2px) scale(0.99);}
#section-3 .section-3_con .extraction-list ul .up-line {align-self: flex-start;}
#section-3 .section-3_con .extraction-list ul .down-line {align-self: flex-end;}
#section-3 .section-3_con .extraction-list .popup-list li {display:none; border-radius:2px; top:15%;}
#section-3 .section-3_con .extraction-list .popup-list li.active {display: block; z-index: 100 !important;}
#section-3 .section-3_con .extraction-list .popup-list li .close-btn {width:40px; height:40px; right:0; transition: all 0.5s}
#section-3 .section-3_con .extraction-list .popup-list li .close-btn:hover {transform:rotate(180deg);}
#section-3 .section-3_con .extraction-list .popup-list .title {font-size:2.5rem;/* padding-top:1rem; */}
#section-3 .section-3_con .extraction-list .popup-list .title_kor {font-size:1.5rem;}
#section-3 .section-3_con .extraction-list .popup-list li {background: #000000; color:#bbbbbb;}
#section-3 .section-3_con .extraction-list .popup-list li .con {width:80%;}
#section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn {width: inherit;top: 50%;}
#section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn div {background: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/arrow.png)no-repeat 0 0;background-size:contain;width: 3rem;height: 1.5rem;}
#section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .left {left:-10%; transform:rotate(90deg);}
#section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .right {right:-10%; transform:rotate(-90deg);}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn {width: 2rem;height: 2rem;top:1.5rem;right:-9.5%;}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div {width: 100%; height:3px; background: #976d3f; top:50%; position: absolute;}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div:first-child {transform: rotate(45deg);}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div:last-child {transform: rotate(-45deg);}
#section-3 .section-3_con .extraction-list .popup-list li .con img {width:100%;margin-bottom: 1rem;border-radius: 5px;}
#section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size:1.1rem; padding-bottom:2.3rem;}
#section-3::after {
    content: "";
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/reserve-section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom:0;
    opacity: .3;
}

/* section-4 */
#section-4 {background-color:#222222; margin-bottom:2rem;}
#section-4 .section-4_con .text-box {color:#bbbbbb;}
#section-4 .section-4_con .text-box .sub-title {font-size:1.3rem; margin-top:1rem; margin-bottom:2rem;}
#section-4 .section-4_con .menu-box-3 ul li {width:calc(100%/4); margin-bottom: 1.5rem;}
#section-4 .section-4_con .menu-box-3 ul li a .coffee_item img {width:100%; transition: all 0.2s;}
#section-4 .section-4_con .menu-box-3 ul li:hover a .coffee_item img {transform: scale(1.05);}

/* section-5 */
#section-5 {background-color:#222222; border-bottom: 1px solid #bbbbbb; padding-bottom:5rem;}
#section-5 .section-5_con .text-box {color:#bbbbbb;}
#section-5 .section-5_con .text-box .sub-title {font-size:0.8rem; margin-top:1rem; margin-bottom:1rem;}
/* kakao-map popup 커스텀 */
#map { border:2px solid #976d3f;}

.store-popup {
    font-weight:bold;
    background: #fff;
    color: #222222;
    height: 100%;
    left: 0;
    bottom: 40px;
    width: 280px;
    height: 130px;
    margin-left: -144px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.store-name { padding: 15px 10px; font-size:18px; font-weight: bold; background: #222222; color: #dddddd; text-align:center;}
.store-location { padding: 5px 10px; font-size: 13px;}

/* footer */
#footer {background: #222222; color:#bbbbbb; padding-top:2rem;}
#footer .footer-section .footer-menu-box-1 ul li a {padding: 1rem 0;}
#footer .footer-section .footer-menu-box-1 ul li span,
#footer .footer-section .footer-menu-box-2 ul li span {font-size: 0.8rem;}
#footer .footer-section .footer-menu-box-1 ul li a:hover span,
#footer .footer-section .footer-menu-box-2 ul li a:hover span {color:#976d3f;}
#footer .footer-section .footer-menu-box-2 {width:35%; margin-left:auto; margin-right: auto;}
#footer .footer-section .footer-menu-box-2 ul li a {padding: 0.3rem 0.7rem; border: 2px solid #dddddd; border-radius: 3px; font-weight: 700;}
#footer .footer-section .footer-menu-box-2 ul li a:hover {border:2px solid #976d3f;}
#footer .footer-section .bottom-text .buisnessman {font-size:0.9rem;}
#footer .footer-section .bottom-text .buisnessman span:not(:last-child) {margin-right: 10px;}
#footer .footer-section .bottom-text .copyright {font-size:0.7rem; margin-bottom: 0; padding-bottom: 1rem;}
#footer .footer-section .footer-logo .starbucks-logo {
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/footer-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:100px;
    height:100px;
    position: absolute;
    right: 0;
    bottom:0%;
}


/* media */
.tablet-view {display:none;}
.mobile-view {display: none;}
@media all and (max-width: 1024px) {
	.pc-view {display: none;}
	.tablet-view {display: block;}
	.con {max-width: 1024px;}
	.title img {height: 1.8rem;}
    .text-box .title {font-size: 1.5rem;}

    /* section-2 */
    #section-2 .section-2_con {height: 70vh;}
    #section-2 .section-2_con .background-img {height: 30vh;}
    #section-2 .section-2_con .background-img img {height: auto;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list ul {margin-top: 0.5rem; flex-wrap:wrap;}
    #section-3 .section-3_con .extraction-list ul li {width:calc(100%/3);text-align: center;height: 20rem;margin: 1rem 0;}
    #section-3 .section-3_con .extraction-list ul:not(.popup-list) li .popup-img >img {height: 20rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn {top:90% !important;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn div {width: 7rem;height: 4rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .left {left:30%;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .right {right:30%;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .close-btn {width: 5rem;height: 5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div {height: 5px;}
    #section-3 .section-3_con .extraction-list .popup-list .title {font-size: 3.5rem;margin-top: 2.5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li.active {width: 90vw; height: 90vh; left: 5vh; top: 5vh; z-index: 9999 !important;}
    #section-3 .section-3_con .extraction-list .popup-list .title_kor {font-size: 2.5rem;font-weight: bold;text-align: left;}
    #section-3 .section-3_con .extraction-list .popup-list li .con img {margin-bottom: 2.5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size: 1.8rem;font-weight: bold;line-height: 2.5rem;}

    /* section-5 */
    #map {width:85% !important; margin:0 auto;}

    /* footer */
    #footer .footer-section .footer-menu-box-1 ul li span, #footer .footer-section .footer-menu-box-2 ul li span {font-size:0.8rem;}
}

@media (max-width:1024px) and (max-height:1366px) {
    .title img {height: 2.3rem;}

    /* section-1 */
    #section-1 .main-logo {height: 45%;}

    /* section-2 */
    #section-2 .section-2_con {height: 60vh;}
    #section-2 .section-2_con .text-box .sub-title {font-size:2.5rem;}
    #section-2 .section-2_con .text-box .sub-text {padding:0 2rem;}
    #section-2 .section-2_con .text-box .sub-text p {font-size:1.4rem;}
    #section-2 .background-img { width: auto; height: 40vh; background-size: cover; background-position:50% 0;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size:2rem;line-height: 3.2rem;}

    /* footer */
    #footer .footer-section .footer-menu-box-2 {width: 50%;}
}

@media all and (max-width:780px) {
    .con {max-width: 80%;}
    .title img {height:1.5rem; margin-top:3rem;}

    #header .bars-btn {width: 45px; height: 30px; margin:2.5rem;}
    #header .menu-box-1 ul {margin:6rem;}

    /* section-1 */
    #section-1 .main-logo {top:5rem;}
    #section-1 .section-1_con .main-text-box .title {margin-top:10rem;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list ul li {width:calc(100%/3); text-align: center;}
    #section-3 .section-3_con .extraction-list ul:not(.popup-list) li .popup-img >img {height: 12rem;}
    #section-3 .section-3_con .extraction-list .popup-list li.active {width: 90vw; height: 90vh; left: 5vh; top: 5vh; z-index: 9999 !important;}
    #section-3 .section-3_con .extraction-list .popup-list .title_kor {font-size:2rem; font-weight: bold;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size:1.6rem; line-height: 2.5rem;}
}

@media all and (max-width:720px) {

}

@media all and (max-width:600px) {

}

@media all and (max-width:550px) {

}

@media all and (max-width:500px) {

}

@media all and (max-width:450px) {

}

@media all and (max-width:425px) {
    .con {max-width: 95%;}
    .title img {display: none;}
    .text-box .title {font-size: 1.2rem;}

    /* section-1 */
    #section-1 .main-logo {top: 6rem; width:55%;}
    #section-1 .section-1_con .main-text-box .title {margin-top:9rem; font-size:2rem;}
    #section-1 .section-1_con .main-text-box .sub-title {margin-top: 2rem; font-size:1.2rem;}
    #section-1 .guide-arrow .btn {height: 5rem;}
    #section-1 .guide-arrow .btn img {width: 4rem;}

    /* section-2 */
    #section-2 .section-2_con .text-box .sub-title {font-size:1.2rem;}
    #section-2 .section-2_con .text-box .sub-text {padding: 0;}
    #section-2 .section-2_con .text-box .sub-text p {font-size:0.8rem;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list ul li {height: 8rem;}
    #section-3 .section-3_con .extraction-list ul .down-line {align-self: flex-start !important;}
    #section-3 .section-3_con .extraction-list ul:not(.popup-list) li .popup-img >img {height: 8rem;}
    #section-3 .section-3_con .extraction-list .popup-list li.active {width: 100vw;height: 100vh;left: 0;top: 0; margin:0;}
    #section-3 .section-3_con .extraction-list .popup-list .title {margin-top: 0.8rem;font-size: 2.5rem;text-align: left;}
    #section-3 .section-3_con .extraction-list .popup-list .title_kor {margin:0.8rem 0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con {width: 100%;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .close-btn {width: 3rem; height: 3rem; right:0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con img {margin:0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size: 1.2rem;line-height: 1.8rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn {top: 80% !important;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .left {left:0;width: 4rem;height: 2rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .right {right:0;width: 4rem;height: 2rem;}

    /* section-4 */
    #section-4 .section-4_con .menu-box-3 ul li {width:calc(100%/2);}

    /* section-5 */
    #map {height: 500px !important;}


    /* footer */
    #footer {padding-top: 1rem;}
    #footer .footer-section .footer-menu-box-1 ul li span, #footer .footer-section .footer-menu-box-2 ul li span {font-size: 0.6rem; }
    #footer .footer-menu-box-1 ul {flex-wrap:wrap;}
    #footer .footer-menu-box-1 ul li {width: calc(100%/2);}
    #footer .footer-section .footer-menu-box-1 ul li a {padding: 0.5rem;text-align: center;}
    #footer .footer-section .footer-menu-box-2 {width: 100%;}
    #footer .footer-section .footer-menu-box-2 ul {flex-wrap:wrap;}
    #footer .footer-section .footer-menu-box-2 ul li {width: 100%; text-align: center; margin:0.2rem 0;}
    #footer .footer-section .footer-menu-box-2 ul li a {border:1px solid #fff;padding: 0.1rem 0;}
    #footer .footer-section .bottom-text .buisnessman {font-size:0.4rem;}
    #footer .footer-section .bottom-text .copyright {font-size:0.2rem;}
}

@media all and (max-width:375px) {      
    .text-box .title {font-size:1rem;}

    /* section-1 */
    #section-1 .main-logo {top: 5rem; width:30%;}
    #section-1 .section-1_con .main-text-box .title {margin-top:4rem; font-size:1.2rem;}
    #section-1 .section-1_con .main-text-box .sub-title {margin-top: 2rem; font-size:1rem;}
    #section-1 .guide-arrow .btn {height: 5rem;}
    #section-1 .guide-arrow .btn img {width: 2.5rem;}

    /* section-2 */
    #section-2 .section-2_con .text-box .sub-title {font-size:1.2rem;}
    #section-2 .section-2_con .text-box .sub-text {padding: 0;}
    #section-2 .section-2_con .text-box .sub-text p {font-size:0.8rem;}

    /* section-3 */
    #section-3 .section-3_con .extraction-list ul li {height: 8rem;}
    #section-3 .section-3_con .extraction-list ul .down-line {align-self: flex-start !important;}
    #section-3 .section-3_con .extraction-list ul:not(.popup-list) li .popup-img >img {height: 8rem;}
    #section-3 .section-3_con .extraction-list .popup-list li.active {width: 100vw;height: 100vh;left: 0;top: 0; margin:0;}
    #section-3 .section-3_con .extraction-list .popup-list .title {margin-top: 0.8rem;font-size: 2.5rem;text-align: left;}
    #section-3 .section-3_con .extraction-list .popup-list .title_kor {margin:0.8rem 0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con {width: 100%;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .close-btn {width: 3rem; height: 3rem; right:0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con img {margin:0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size:0.8rem; line-height: 1.5rem;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn {top:75% !important;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .left {left:0;}
    #section-3 .section-3_con .extraction-list .popup-list li .con > .move-btn .right {right:0;}

    /* section-4 */
    #section-4 .section-4_con .menu-box-3 ul li {width:calc(100%/2);}

    /* section-5 */
    #map {height: 490px !important;}

}

@media all and (max-width:320px) {
    
}