/* 공통 */
body {letter-spacing: -0.25px;}
.color-976d3f {color:#976d3f;}
.text-box .title {font-size:1.2rem; margin:2rem 0 1rem;}
.con {max-width:1024px;}


/* scroll */
html,body {scroll-behavior: smooth;}
body::-webkit-scrollbar {width: 0.3rem; transition: width 1s;}
/* body.active::-webkit-scrollbar {width:0.3rem;} */
body::-webkit-scrollbar-thumb {background-color: #976d3f;}
/* body.active::-webkit-scrollbar-thumb{background-color: #976d3f; opacity:1; border-radius:10px;} */
body::-webkit-scrollbar-track {background-color: #222222;}
body {scroll-behavior: smooth;}


/* loding */
#loding {width: 100%; height:100%; position:fixed; background: #000; z-index: 100000 !important;}


/* header bars-btn*/
#header {z-index: 9999 !important;}
#header .bars-btn {width:60px; height:40px; z-index: 9999 !important; margin: 5rem;}
#header .bars-btn .bar {width: 100%; height: 6px; position:absolute; background-color: #976d3f;}
#header .bars-btn .bar:first-child {top:0; transition: top 0.2s 0.2s, transform 0.2s;}
#header .bars-btn .bar:nth-child(2) {top:50%; transition: opacity 0.2s;}
#header .bars-btn .bar:last-child {top:100%; transition: top 0.2s 0.2s, transform 0.2s;}
#header .bars-btn.active .bar:first-child {top:50%; transform: rotate(45deg); transition: top 0.2s, transform 0.2s 0.2s;}
#header .bars-btn.active .bar:nth-child(2) {top:50%; opacity: 0; transition: opacity 0.4s;}
#header .bars-btn.active .bar:last-child {top:50%; transform: rotate(-45deg); transition: top 0.2s, transform 0.2s 0.2s;}


/* header menu-box-1 */
#header .menu-box-1 {top:0; left:-200%; background-color: #222222; transition: left 0.2s; z-index: 999 !important;}
#header .menu-box-1.active {left:0;}
#header .menu-box-1 ul {margin: 9rem;}
#header .menu-box-1 ul li a {margin:0.7rem; padding:0.3rem;}
#header .menu-box-1 ul li a span {font-size:2.2rem; color:#bbbbbb; position: relative; transition: color 0.3s;}
#header .menu-box-1 ul li a:hover span {color:#976d3f;}
/*font-outline == text-shadow: -1px 0 #976d3f, 0 1px #976d3f, 1px 0 #976d3f, 0 -1px #976d3f; */


/* section-1 */
#section-1 {height:100vh;}
#section-1 .background-img::after{
    content: "";
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/main-back-img-1.jpg);
    background-size: cover;
    background-position:0 0;
    background-repeat: no-repeat;
    top:0;
    left:0;
    position: absolute;
    width: 100%; 
    height: 100vh;
    opacity: 80%;
}
#section-1 .section-1_con {width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);}
#section-1 .main-logo {
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/main-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    top: 10rem;
}
#section-1 .section-1_con .main-text-box .title {
    font-size: 2rem;
    margin-top: 17rem;
}
#section-1 .section-1_con .main-text-box .sub-title {
    font-size: 3rem;
    margin-top: 3rem;
}
#section-1 .guide-arrow .btn {
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30px;
    bottom:-8%;
}


/* section-2 */
#section-2 {background-color:#222222;}
#section-2 .background-img img {width:100%; height: 60vh; opacity: 0.4;}
#section-2 .section-2_con {height:50vh;}
#section-2 .section-2_con .title img {width: 80%; margin-top:5rem;}
#section-2 .section-2_con .text-box {color:#bbbbbb;}
#section-2 .section-2_con .text-box .sub-title {font-size:2rem; margin: 1rem 0 2.5rem;}
#section-2 .section-2_con .text-box .sub-text {margin-bottom: 5rem;}


/* section-3 */
#section-3 {background-color:#222222; height:100vh;}
#section-3 .section-3_con .title img {width: 80%; margin-top:5rem;}
#section-3 .section-3_con .text-box {color:#bbbbbb;}
#section-3 .section-3_con .text-box .sub-title {font-size:0.9rem;}
#section-3 .section-3_con .extraction-list,
#section-3 .section-3_con .extraction-list ul:not(.popup-list) {height:22rem;}
#section-3 .section-3_con .extraction-list ul {margin-top: 2.5rem;}
#section-3 .section-3_con .extraction-list ul .up-line {align-self: flex-start;}
#section-3 .section-3_con .extraction-list ul .down-line {align-self: flex-end;}
#section-3 .section-3_con .extraction-list .popup-list li {display:none; border-radius:2px; top:15%;}
#section-3 .section-3_con .extraction-list .popup-list li.active {display: block; z-index: 100 !important;}
#section-3 .section-3_con .extraction-list .popup-list li .close-btn {width:40px; height:40px; right:0;}
#section-3 .section-3_con .extraction-list .popup-list .title {font-size:2.5rem; padding-top:1rem;}
#section-3 .section-3_con .extraction-list .popup-list .title_kor {font-size:1.5rem;}
#section-3 .section-3_con .extraction-list .popup-list li {background: #000000; color:#bbbbbb;}
#section-3 .section-3_con .extraction-list .popup-list li .con {width:80%;}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn {width: 2rem;height: 2rem; top:1.5rem; right:-9.5%;}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div {width: 100%; height:3px; background: #976d3f; top:50%; position: absolute;}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div:first-child {transform: rotate(45deg);}
#section-3 .section-3_con .extraction-list .popup-list li .con .close-btn div:last-child {transform: rotate(-45deg);}
#section-3 .section-3_con .extraction-list .popup-list li .con img {width:100%; margin-bottom: 1rem; border-radius: 5px;}
#section-3 .section-3_con .extraction-list .popup-list li .con .text {font-size:1.1rem; padding-bottom:2.3rem;}
#section-3::after {
    content: "";
    background-image: url(https://cdn.jsdelivr.net/gh/kkt9102/img1/blog/article/portfolio/reserve/reserve-section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom:0;
    opacity: .3;
}

/* section-4 */
#section-4 {background-color:#222222;}
#section-4 .section-4_con .title img {width: 70%; margin-top:5rem;}
#section-4 .section-4_con .text-box {color:#bbbbbb;}
#section-4 .section-4_con .text-box .sub-title {font-size:1.3rem; margin-top:1rem;}


/* footer */
#footer {background: #222222; color:#bbbbbb; border-top:1px solid #bbbbbb;}
#footer .footer-section .footer-menu-box-1 ul li a {padding: 1rem 0;}
#footer .footer-section .footer-menu-box-1 ul li span,
#footer .footer-section .footer-menu-box-2 ul li span {font-size: 0.8rem;}
#footer .footer-section .footer-menu-box-1 ul li a:hover span,
#footer .footer-section .footer-menu-box-2 ul li a:hover span {color:#976d3f;}
#footer .footer-section .bottom-text .buisnessman {font-size:0.9rem;}
#footer .footer-section .bottom-text .copyright {font-size:0.7rem;}