.introduce-section {
    width: 80%;
}
.introduce-section  > .introduce-section-box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.introduce-section  > .introduce-section-box > .greetings-text {
    border:2px solid #616161;
    word-break: keep-all;
    padding: 25px;
    font-size: 18px;
    margin-top: 40px;
}