@media all and (max-width:1024px) {

    .top-menu-bar {
        display: none;
    }

    .mobile-top-menu-bar {
        display: block;
    }

    #section-1>.home-section>.scroll-guide>.scroll-text>.pc-view {
        display: none;
    }

    #section-1>.home-section>.scroll-guide>.scroll-text>.mobile-view {
        display: block;
    }

    #section-1>.home-section>.main-text-box>.title {
        font-size: 70px;
    }

    #section-1>.home-section>.main-text-box>.sub-title-1 {
        font-size: 35px;
    }

    #section-1>.pc-view>.pc-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40% 0%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .3;
        filter: grayscale(1);
        z-index: inherit;
    }

    .popup {
        width: 80%;
        height: 700px;
        top: 50px;
    }

    .popup.active {
        top: 50px;
    }

    .popup>.img {
        background-size: contain;
    }

    .popup>.img,
    .popup>.text-box,
    .popup>.link-box {
        width: 50%;
    }

    #section-2>.about-me-section>.about-me-box {
        display: flex;
        justify-content: space-around;
    }

    #section-2>.about-me-section>.about-me-box>div {
        width: calc(95%/2);
    }

    #section-2>.about-me-section>.about-me-box>.proflie-img {
        width: 480px;
        height: 700px;
        background-position: 8% 200px;
        background-size: 50%;
    }
    #section-3>.skill-section>.skill-box>.skill-list>ul {
        width: 100%;
        margin-top: 30px;
    }
    
}

@media (min-width:768px) and (max-width:1023px) {
    .con {
        max-width: 600px;
    }
}


@media (max-width:767px) {
    .pc-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    #section-3>.skill-section>.section-title {
        font-family: 'Russo One', sans-serif;
        padding: 30px 0 10px 0;
        font-size: 30px;
        text-align: center;
    }



    #section-3>.skill-section>.skill-box>.skill-list>ul>.sub-title {
        font-family: 'Noto Sans', sans-serif;
        padding: 10px 0;
        font-size: 20px;
    }

    #section-3>.skill-section>.skill-box>.skill-list>ul>li,
    #section-3>.skill-section>.skill-box>.skill-list>ul>.text-box {
        margin: 0 30px;
        padding-top: 15px;
    }
    #section-3 > .skill-section > .skill-box > .skill-list > ul > .text-box > p {
        padding: 10px 0;
        font-size: 15px;
        font-weight: 700;
    }
    #section-3>.skill-section>.skill-box>.skill-list>ul>.sub-title>.skill-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    #section-3>.skill-section>.skill-box>.skill-list>.coding>.sub-title>.skill-icon {
        width: 60px;
        height: 60px;
    }

    #section-3>.skill-section>.skill-box>.skill-list>.graphic>.sub-title>.skill-icon {
        width: 60px;
        height: 60px;
    }
    
}

@media (max-width:480px) {
    #section-3>.skill-section>.skill-box>.skill-list>ul>.sub-title {
        font-family: 'Noto Sans', sans-serif;
        padding: 10px 0;
        font-size: 20px;
    }
    
    #section-3>.skill-section>.skill-box>.skill-list>ul>li,
    #section-3>.skill-section>.skill-box>.skill-list>ul>.text-box {
        margin: 0 10px;
        padding-top: 10px;
    }
    #section-3 > .skill-section > .skill-box > .skill-list > ul > li > .text {
        font-size:14px;
    }
    #section-3>.skill-section>.skill-box>.skill-list>ul>.sub-title>.skill-icon {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    #section-3>.skill-section>.skill-box>.skill-list>.coding>.sub-title>.skill-icon {
        width: 35px;
        height: 35px;
    }

    #section-3>.skill-section>.skill-box>.skill-list>.graphic>.sub-title>.skill-icon {
        width: 35px;
        height: 35px;
    }
}