/*section-2  mobile-view 커스텀 */

#section-1>.mobile-view>.mobile-bg {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/mobile-main-bg.png?a);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
    filter: grayscale(1);
    z-index: inherit;
}

#section-1>.mobile-view>.main-text-box {
    font-family: 'Orbitron', sans-serif;
}

#section-1>.mobile-view>.main-text-box>.title {
    font-size: 50px;
    padding-top: 40%;
}

#section-1>.mobile-view>.main-text-box>.sub-title-1 {
    padding-top: 20px;
    font-size: 30px;
}

#section-1>.mobile-view>.main-text-box>.sub-title-2 {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 700;
}

#section-1>.mobile-view>.scroll-guide {
    height: 50px;
    bottom: 50px;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* section-2 mobile-view 커스텀 */
#section-2>.mobile-view>.about-me-box>.profile-img {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/mobile-profile-img-2.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 150%;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#section-2>.mobile-view>.about-me-box>.text-box>.section-sub-title {
    font-family: 'Russo One', sans-serif;
    font-size: 33px;
    padding: 20px 0 10px 0;
}

#section-2>.mobile-view>.about-me-box .hobby {
    width: 100%;
    height: 180px;
}

#section-2>.mobile-view>.about-me-box .hobby>.icon {
    width: 100px;
    height: 180px;
    margin: 10px;
    cursor: pointer;
}

#section-2>.mobile-view>.about-me-box .hobby>.movie {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/movie-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}


#section-2>.mobile-view>.about-me-box .hobby>.camera {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/camera-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}


#section-2>.mobile-view>.about-me-box .hobby>.backpack {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/backpack-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}



/* section-3 mobile-view 커스텀 */
#section-3>.mobile-view>.skill-box>nav {
    width: 100%;
}

#section-3>.mobile-view>.skill-box>nav>ul {
    border: 1px solid #efefef;
    box-sizing: border-box;
    padding: 0 30px;
}

#section-3>.mobile-view>.skill-box>nav>ul>.sub-title {
    margin-top: 5px;
    font-size: 20px;
}

#section-3>.mobile-view>.skill-box>nav>ul>.sub-title>.skill-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#section-3>.mobile-view>.skill-box>.coding>ul>.sub-title>.skill-icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/codding-icon.png) no-repeat 0 0;
    background-size: contain;
    width: 30px;
    height: 30px;
}

#section-3>.mobile-view>.skill-box>.graphic>ul>.sub-title>.skill-icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/design-icon.png) no-repeat 0 0;
    background-size: contain;
    width: 30px;
    height: 30px;
}

#section-3>.mobile-view>.skill-box>nav>ul>li {
    font-size: 13px;
    margin: 15px 0;
}

#section-3>.mobile-view>.skill-box>nav>ul>li>.graph {
    width: 100%;
    height: 3px;
    border: 1px solid #666;
    margin-left: auto;
    margin-right: auto;
}

#section-3>.mobile-view>.skill-box>nav>ul>li>.graph>.progress-bar {
    width: 0%;
    height: 100%;
    background: rgb(102, 102, 102);
    background: linear-gradient(0deg, rgba(102, 102, 102, 1) 0%, rgba(153, 153, 153, 1) 100%);
    transition: width .7s;
}

#section-3>.mobile-view>.skill-box>nav>ul>li>.text::after {
    position: absolute;
    right: 0;
}

#section-3>.mobile-view>.skill-box>nav>ul>#html>.graph.active>.progress-bar {
    width: 80%;
}

#section-3>.mobile-view>.skill-box>nav>ul>#css>.graph.active>.progress-bar {
    width: 70%;
}

#section-3>.mobile-view>.skill-box>nav>ul>#js_jq>.graph.active>.progress-bar {
    width: 30%;
}

#section-3>.mobile-view>.skill-box>nav>ul>#ps>.graph.active>.progress-bar {
    width: 70%;
}

#section-3>.mobile-view>.skill-box>nav>ul>#ai>.graph.active>.progress-bar {
    width: 70%;
}

#section-3>.mobile-view>.skill-box>nav>ul>#lr>.graph.active>.progress-bar {
    width: 70%;
}
/* section-4 mobile-view 커스텀 */
#section-4 > .mobile-view > .tab-menu-btn {
    margin-bottom: 30px;
}
#section-4 > .mobile-view > .tab-menu-btn > ul > li {
    padding: 5px;
    border:1px solid rgba(255,255,255,0);
    border-radius: 5px;
    margin: 0 10px;
}
#section-4 > .mobile-view > .tab-menu-btn > ul > li.active {
    color:#ffffff;
    background: #000;
}
#section-4 > .mobile-view > .tab-menu-btn > ul > .web.active ~ .pc-view-alret{
    display: block;
}
#section-4 > .mobile-view > .tab-menu-btn > ul > .pc-view-alret {
    width: 100%;
    font-size: 12px;
    display: none;
}
#section-4 > .mobile-view > .portfolio-work > ul > li {
    display: none;
    margin-bottom: 20px;
}
#section-4 > .mobile-view > .portfolio-work > ul > li.active {
    display: block;
}
#section-4 > .mobile-view > .portfolio-work > ul > li > div > .item-box > .kinds {
    top:0;
    left:50%;
    padding: 10px;
    transform: translateX(-50%);
    position: absolute;
    color:#fff;
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#section-4 > .mobile-view > .portfolio-work > ul > li > div > .item-box > .link-list {
    overflow: hidden;
    height: 0;
    transition: all .3s;
}
#section-4 > .mobile-view > .portfolio-work > ul > li > div > .item-box> .link-list.active  {
    height: 100%;
}
#section-4 > .mobile-view > .portfolio-work > ul > li > div > .item-box > .link-list > li {
    border:1px solid #000;
    border-radius: 5px;
    margin: 10px 20px;
}
#section-4 > .mobile-view > .portfolio-work > ul > li > div > .item-box > .link-list > li > a {
    padding:10px;
}
/* mobile portfolio-work 이미지커스텀 */
.mobile-origin {
    opacity: 0;
}
#section-4 > .mobile-view > .portfolio-work > ul > li > div > .item-box > .img {
    width: 100%;
    height: 50vw;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(102,102,102,1);
}
#section-4 > .mobile-view > .portfolio-work > ul > #byn > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/byn/byn_main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #razer > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/razer/razer-main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #sony > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/sonykorea-main1.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #reserve > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/starbucks-reserve-main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #pearlabyss > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/pearlabyss-main.jpg?dummy123123) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #seoularts > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/seoulart-main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #canon > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/canon/canon_main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #metanett > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/metanettplatform/metanettplatform-main.jpg) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #kakaoenter > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/kakaoenterprise-main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #dma > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/dma/dma-main.jpg) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #leica > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/leica/leica-main.png) no-repeat 0 0;
    background-size: cover;
}
#section-4 > .mobile-view > .portfolio-work > ul > #kdb > div > .item-box > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/kdb_main.png) no-repeat 0 0;
    background-size: cover;
}