/* popup 커스텀 */

.popup-background.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,.3);
    z-index: 900;
}
.popup {
    opacity: 0;
    visibility: hidden;
    background: #fff;
    width:1200px;
    height:600px;
    border:1px solid #666;
    padding:10px;
    border-radius:5px;
    box-shadow:0 4px 4px rgba(0,0,0,0.3);
    margin-left: auto;
    margin-right: auto;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: opacity .3s, visibility .3s;
}
.popup.active {
    opacity: 1;
    visibility: visible;
}
/* popup close-btn 커스텀 */
.popup > .close-btn {
    width:30px;
    height:30px;
    right:1.5%;
    top:2.5%;
    cursor:pointer;
    
}
.popup > .close-btn > div {
    width:100%;
    height:3px;
    background: #000;
    top:calc(50% - 3px);
    transform: translatey(-50%);
    position:absolute;
}
.popup > .close-btn > div:first-child {
    transform:rotate(45deg);
}
.popup > .close-btn > div:last-child {
    transform:rotate(-45deg);
}
/* popup 좌측 페이지 img 커스텀 */
.popup > .img {
    background-size: cover;
    background-repeat: no-repeat;
    width:60%;
    height:100%;
    transition:background-position 3s;
    border:1px solid #eee;
    box-shadow:0 4px 4px rgba(0,0,0,.3);
    box-sizing:border-box;
}
div > .popup > .img:hover {
    background-position: 0 100%;
}
/* popup 우측 text 커스텀 */
.popup > .text-box,
.popup > .link-box {
    width:40%;
    padding:10px 50px;
    box-sizing:border-box;
    text-align:center;
}div>
.popup > .text-box > .logo {
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}div>
.popup > .text-box > .brand-name {
    font-size:25px;
    margin:20px 0;
}div>
.popup > .text-box > .ex {
    text-align:left;
    font-size:18px;
}div>
.popup > .text-box > .kinds{
    font-size: 18px;
    margin:15px 0;
}div>
.popup > .text-box > .color-use {
    margin:15px 0;
}div>
.popup > .text-box > .color-use > span {
    margin:0 10px;
    width:25px;
    height:25px;
    border-radius:20%;
    display:inline-block;
}
.popup > .link-box > ul > li > a {
    border:1px solid #000;
    padding:5px 10px;
    border-radius:10px;
}
.popup > .link-box > ul > li:hover > a {
    background: #000;
    color: #fff;
}
/* #seoularts logo,color 커스텀 */
#section-4 >.portfolio-section >.portfolio-work >ul >li >div> .popup > .text-box > .color-use > span {
    position: relative;
}
#section-4 >.portfolio-section >.portfolio-work >ul >li >div> .popup > .text-box > .color-use > span:hover::after {
    position: absolute;
    border:1px solid #000;
    background: #fff;
    bottom:40px;
    left:0;
    padding: 5px;
    font-size: 15px;
}
#seoularts >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/logo_n.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#seoularts >div> .popup > .text-box > .color-use > .color-1 {
    background: #912215;
}
#seoularts >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content: "#912215"; 
}
#seoularts >div> .popup > .text-box > .color-use > .color-2 {
    background: #666;
}
#seoularts >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content: "#666666"; 
}
/* #byn logo,color 커스텀 */
#byn >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/byn/BYN_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#byn >div> .popup > .text-box > .color-use > .color-1 {
    background: #9BA0B4;
}
#byn >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#9BA0B4";
}
#byn >div> .popup > .text-box > .color-use > .color-2 {
    background: #868d9d;
}
#byn >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#868D9D";
}
#byn >div> .popup > .text-box > .color-use > .color-3 {
    background: #3B444F;
}
#byn >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content: "#3B444F";
}
/* #canon logo,color 커스텀 */
#canon >div> .popup > .text-box > .logo {
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbC9iDj%2FbtqEgihE2mQ%2F2CPkJQcieDf7KUqhtoRKGk%2Fimg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#canon >div> .popup > .text-box > .color-use > .color-1 {
    background: #E21A22;
}
#canon >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#E21A22"
}
#canon >div> .popup > .text-box > .color-use > .color-2 {
    background: #F15B63;
}
#canon >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#F15B63"
}
#canon >div> .popup > .text-box > .color-use > .color-3 {
    background: #dd0000;
}
#canon >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content:"#DD0000"
}
#canon >div> .popup > .text-box > .color-use > .color-4 {
    background: #838383;
}
#canon >div> .popup > .text-box > .color-use > .color-4:hover::after {
    content:"#838383"
}
/* #metanett logo,color 커스텀 */
#metanett >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/metanettplatform/logo-b.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#metanett >div> .popup > .text-box > .color-use > .color-1 {
    background: #014099;
}
#metanett >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#014099"
}
#metanett >div> .popup > .text-box > .color-use > .color-2 {
    background: #eebd07;
}
#metanett >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#EEBD87"
}
#metanett >div> .popup > .text-box > .color-use > .color-3 {
    background: #ffcd07;
}
#metanett >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content:"#FFCD07"
}
#metanett >div> .popup > .text-box > .color-use > .color-4 {
    background: #f5f5f5;
}
#metanett >div> .popup > .text-box > .color-use > .color-4:hover::after {
    content:"#F5F5F5"
}
/* #kakaoenter logo,color 커스텀 */
#kakaoenter >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/logo_enterprise_b.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#kakaoenter >div> .popup > .text-box > .color-use > .color-1 {
    background: #32418c;
}
#kakaoenter >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#32418C"
}
#kakaoenter >div> .popup > .text-box > .color-use > .color-2 {
    background: #FAE100;
}
#kakaoenter >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#FAE100"
}
/* #dma logo,color 커스텀 */
#dma >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/dma/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#dma >div> .popup > .text-box > .color-use > .color-1 {
    background: #c10b12;
}
#dma >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#C10B12"
}
#dma >div> .popup > .text-box > .color-use > .color-2 {
    background: #92070d;
}
#dma >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#92070D"
}
#dma >div> .popup > .text-box > .color-use > .color-3 {
    background: #ffe440;
}
#dma >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content:"#FFE440"
}
/* #razer logo,color 커스텀 */
#razer >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/razer/razer.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#razer >div> .popup > .text-box > .color-use > .color-1 {
    background: #73e162;
}
#razer >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#73E162"
}
#razer >div> .popup > .text-box > .color-use > .color-2 {
    background: #303030;
}
#razer >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#303030"
}
#razer >div> .popup > .text-box > .color-use > .color-3 {
    background: #222222;
}
#razer >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content:"#222222"
}
/* #sony logo,color 커스텀 */
#sony >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/1280px-Sony_logo.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#sony >div> .popup > .text-box > .color-use > .color-1 {
    background: #1f2024;
}
#sony >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#1F2024"
}
#sony >div> .popup > .text-box > .color-use > .color-2 {
    background: #5865f5;
}
#sony >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#5865F5"
}
#sony >div> .popup > .text-box > .color-use > .color-3 {
    background: #4f6b85;
}
#sony >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content:"#4F6B85"
}
#sony >div> .popup > .text-box > .color-use > .color-4 {
    background: #f1f5f9;
}
#sony >div> .popup > .text-box > .color-use > .color-4:hover::after {
    content:"#F1F5F9"
}
/* #leica logo,color 커스텀 */
#leica >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/leica/logo_leica_48x48.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#leica >div> .popup > .text-box > .color-use > .color-1 {
    background: #e30616;
}
#leica >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#E30616"
}
#leica >div> .popup > .text-box > .color-use > .color-2 {
    background: #F1F3F5;
}
#leica >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#F1F3F5"
}
/* #kdb logo,color 커스텀 */
#kdb >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/img_gnb_home.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#kdb >div> .popup > .text-box > .color-use > .color-1 {
    background: #0063cc;
}
#kdb >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#0063CC"
}
#kdb >div> .popup > .text-box > .color-use > .color-2 {
    background: #e8edf3;
}
#kdb >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#E8EDF3"
}
#kdb >div> .popup > .text-box > .color-use > .color-3 {
    background: #eceae7;
}
#kdb >div> .popup > .text-box > .color-use > .color-3:hover::after {
    content:"#ECEAE7"
}
#kdb >div> .popup > .text-box > .color-use > .color-4 {
    background: linear-gradient(to right, #0063cc 0%, #583cc9 50%, #af13c7 100%);
}
#kdb >div> .popup > .text-box > .color-use > .color-4:hover::after {
    content:"#0063CC 0%, #583CC9 50%, #AF13C7 100%"
}
/* #스타벅스 리저브 logo,color 커스텀 */
#reserve >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/section-2-title.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#reserve >div> .popup > .text-box > .color-use > .color-1 {
    background: #976d3f;
}
#reserve >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#976D3F"
}
#reserve >div> .popup > .text-box > .color-use > .color-2 {
    background: #222222;
}
#reserve >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#222222"
}
/* #펄어비스 logo,color 커스텀 */
#pearlabyss >div> .popup > .text-box > .logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/cm_bi_black.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#pearlabyss >div> .popup > .text-box > .color-use > .color-1 {
    background: #ffffff;
}
#pearlabyss >div> .popup > .text-box > .color-use > .color-1:hover::after {
    content:"#FFFFFF"
}
#pearlabyss >div> .popup > .text-box > .color-use > .color-2 {
    background: #999999;
}
#pearlabyss >div> .popup > .text-box > .color-use > .color-2:hover::after {
    content:"#999999"
}