/* pc-view 커스텀 */
#section-3 > .skill-section > .skill-box > .skill-list > ul > .sub-title {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px 0;
    font-size: 28px;
}
#section-3 > .skill-section > .skill-box > .skill-list > ul > .sub-title > .skill-icon {
    width:80px;
    height:80px;
    margin-right: 20px;
    transition: width .3s, height .3s;
}
#section-3 > .skill-section > .skill-box > .skill-list > .coding > .sub-title > .skill-icon {
    background:url(https://kkt9102.github.io/img1/blog/article/portfolio/codding-icon.png) no-repeat 0 0;
    background-size: contain;
    width:80px;
    height: 80px;
}
#section-3 > .skill-section > .skill-box > .skill-list > .graphic > .sub-title > .skill-icon {
    background:url(https://kkt9102.github.io/img1/blog/article/portfolio/design-icon.png) no-repeat 0 0;
    background-size: contain;
    width:80px;
    height: 80px;
}
#section-3 > .skill-section > .skill-box > .skill-list > ul {
    width: calc(90%/2);
    border-radius: 5px;
    border:1px solid #ccc;
    box-shadow: 0 4px 8px rgba(102,102,102,1);
}
#section-3 > .skill-section > .skill-box > .skill-list > ul > li,
#section-3 > .skill-section > .skill-box > .skill-list > ul > .text-box {
    margin: 0 50px;
    padding-top: 25px;
}

#section-3 > .skill-section > .skill-box > .skill-list > ul > .text-box > p {
    padding: 20px 0;
    font-size: 19px;
    font-weight: 500;
}
#section-3 > .skill-section > .skill-box > .skill-list > ul > li > .text {
    font-size: 20px;
    padding: 10px 0;
}
#section-3 > .skill-section > .skill-box > .skill-list > ul > li > .graph {
    height: 5px;
    border:1px solid #666;
}
#section-3 > .skill-section > .skill-box > .skill-list > ul > li > .graph > .progress-bar {
    height: 100%;
    background: rgb(102,102,102);
    background: linear-gradient(0deg, rgba(102,102,102,1) 0%, rgba(153,153,153,1) 100%);
    transition: width .7s;
}
#section-3 > .skill-section > .skill-box > .skill-list > ul > li > .text::after {
    position: absolute;
    right:0;
}
#html > .text::after {
    content: "80%";
}
#html > .graph> .progress-bar {
    width: 0%;
}
#html > .graph.active > .progress-bar {
    width: 80%;
}
#css > .text::after {
    content: "70%";
}
#css > .graph> .progress-bar {
    width: 0%;
}
#css > .graph.active > .progress-bar {
    width: 70%;
}
#js_jq > .text::after {
    content: "30%";
}
#js_jq > .graph > .progress-bar {
    width: 0%;
}
#js_jq > .graph.active > .progress-bar {
    width: 30%;
}
#ps > .text::after {
    content: "70%";
}
#ps > .graph > .progress-bar {
    width: 0%;
}
#ps > .graph.active > .progress-bar {
    width: 70%;
}
#ai > .text::after {
    content: "70%";
}
#ai > .graph > .progress-bar {
    width: 0%;
}
#ai > .graph.active > .progress-bar {
    width: 70%;
}
#lr > .text::after {
    content: "70%";
}
#lr > .graph > .progress-bar {
    width: 0%;
}
#lr > .graph.active > .progress-bar {
    width: 70%;
}
