
#section-4 > .portfolio-section > .portfolio-work > ul > li {   
    display: none;
}
#section-4 > .portfolio-section > .portfolio-work > ul > li.active {
    display: block;
}
.origin {
    opacity: 0;
}
.clone {
    position: absolute;
}

#section-4>.portfolio-section>.tab-menu>ul>li{
    padding: 5px;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
#section-4>.portfolio-section>.tab-menu>ul>li.active {
    background: #000;
    color:#fff;
}
#section-4>.portfolio-section>.portfolio-work>ul>li {
    width: calc(100%/3);
    height: 350px;
}
#section-4>.portfolio-section>.portfolio-work>ul>li>.clone {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    padding: 20px;
}
/* portfolio-item img커스텀 */

#section-4>.portfolio-section>.portfolio-work>ul>li>.clone>.img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(102,102,102,1);
    transition: box-shadow .3s;
}
#section-4>.portfolio-section>.portfolio-work>ul>li>.clone>.title {
    font-size:20px;
    width: 60%;
    left:50%;
    transform: translateX(-50%);
    color:#fff;
}
#section-4>.portfolio-section>.portfolio-work>ul>li>.clone>.title>.kinds {
    background: rgba(0,0,0,0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 10px 0 15px 0;
}
#section-4>.portfolio-section>.portfolio-work>ul>li>div>.title>.brand-name {
    background: rgba(0,0,0,0.5);
    margin-top: 20px;
    border-radius:10px;
    padding: 10px 0 15px 0;
    opacity: 0;
    transition: opacity .3s;
}
#section-4>.portfolio-section>.portfolio-work>ul>li:hover>.clone>.title>.brand-name {
    opacity: 1;
}
#section-4>.portfolio-section>.portfolio-work>ul>li>.img:active,
#section-4>.portfolio-section>.portfolio-work>ul>li>.img:hover {
    box-shadow: 0px 4px 8px 4px rgba(102,102,102,1);
} 

#seoularts>div>.img, .item-1>div>.popup > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/seoulart-main.png);
    background-size: cover;
}
#byn>div>.img, .item-2>div >.popup>.img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/byn/byn_main.png);
    background-size: cover;
}
#canon>div>.img,.item-3>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/canon/canon_main.png);
    background-size: cover;
}
#metanett>div>.img,.item-4>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/metanettplatform/metanettplatform-main.jpg);
    background-size: cover;
}
#kakaoenter>div>.img,.item-5>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/kakaoenterprise-main.png);
    background-size: cover;
}
#dma>div>.img,.item-6>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/dma/dma-main.jpg);
    background-size: cover;
}
#razer>div>.img, .item-7>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/razer/razer-main.png);
    background-size: cover;
}
#sony>div>.img,.item-8>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/sonykorea-main1.png);
    background-size: cover;
}
#leica>div>.img,.item-9>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/leica/leica-main.png);
    background-size: cover;
}
#kdb>div>.img,.item-10>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/kdb_main.png);
    background-size: cover;
}
#reserve>div>.img,.item-11>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/reserve/starbucks-reserve-main.png);
    background-size: cover;
}
#pearlabyss>div>.img,.item-12>div>.popup>.img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/pearlabyss-main.jpg?dummy123123);
    background-size: cover;
}