/* section .5 커스텀 */
.contact-section>.title {
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    padding-top:50px;
    margin-bottom: 25px;
    position: relative;
}
.contact-section>.title::after {
    content: "";
    position: absolute;
    width: 0;
    height: 20px;
    bottom:0;
    left:0;
    background: rgba(110, 212, 240,.3);
    transition: width .3s;
}
body.fp-viewing-anchor5 .contact-section>.title::after {
    width: 200px;
    transition-delay: .5s;
}

/* contact 메일 커스텀 */
.contact-section>.contact-box> form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.contact-section>.contact-box> form .title-text {
    font-family: 'Nunito', sans-serif;
    font-size:23px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-section>.contact-box> form .name > input{
    border:1px solid #666;
    border-radius: 2px;
    width:100%;
    height:30px;
    font-size:20px;
}
.contact-section>.contact-box> form .email > input {
    border:1px solid  #666;
    border-radius: 2px;
    width:100%;
    height:30px;
    font-size:20px;
}
.contact-section>.contact-box> form .text-box > textarea {
    border:1px solid  #666;
    border-radius: 2px;
    width:100%;
    height:300px;
    font-size:18px;
    resize: none;
}
.contact-section>.contact-box> form .btn > input {
    border-radius: 2px;
    font-size:20px;
    font-weight: bold;
    background: #000;
    color:#fff;
    padding: 5px 15px;
    margin-top: 5px;
    cursor: pointer;
    outline: none;
}
.contact-section>.icon-box {
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}
.contact-section>.icon-box>ul>.phone>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/phone-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.contact-section>.icon-box>ul>.mail>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/mail-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.contact-section>.icon-box>ul>.kakao>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/talk-icon-2.png?dummyasdqeqe213123123);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.copyright {
    margin-top: 30px;
    font-size: 13px;
}
/* section .5 커스텀 끝 */