/* pc-view 커스텀 */
#section-2 > .pc-view > .about-me-box > .proflie-img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/profile-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 200px;
    background-attachment: fixed;
    width: 500px;
    height: 450px;

    transition: height .3s, width .3s, background-position .3s;
}
#section-2 > .pc-view > .about-me-box > div {
    width: calc(100%/2);
}
#section-2 > .pc-view > .about-me-box .section-sub-title {
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    padding:30px 0 30px 0;
}
#section-2 > .pc-view > .about-me-box .hobby {
    width:100%;
    height: 80px;
}
#section-2 > .pc-view > .about-me-box .hobby > .icon {
    width: 100px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
}

#section-2 > .pc-view > .about-me-box .hobby > .movie {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/movie-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
#section-2 > .pc-view > .about-me-box .hobby > .camera {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/camera-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
#section-2 > .pc-view > .about-me-box .hobby > .backpack {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/backpack-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
#section-2 > .pc-view > .about-me-box .hobby > .icon > .hover-box {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 60%;
    bottom:85%;
    left:0;
    border:2px solid #666;
    background: #fff;
    border-radius: 3px;
    font-size: 13px;
    padding: 15px;
    transition: opacity .3s, visibility .3s, bottom  .3s;
}
#section-2 > .pc-view > .about-me-box .hobby > .icon:hover > .hover-box {
    opacity: 1;
    visibility: visible;
    bottom:105%;
}
